---
---

<div class="bg-primary w-full my-32 overflow-hidden">
  <div
    class="ticker flex w-[600vw] md:w-[300vw] whitespace-nowrap leading-none"
  >
    <div class="w-1/4 flex items-center justify-center">
      <h1
        class="text-[20vw] md:text-[10vw] font-black uppercase text-dark-green"
      >
        Get in touch
      </h1>
    </div>
    <div class="w-1/4 flex items-center justify-center">
      <h1
        class="text-[20vw] md:text-[10vw] font-black uppercase text-dark-green"
      >
        Get in touch
      </h1>
    </div>
    <div class="w-1/4 flex items-center justify-center">
      <h1
        class="text-[20vw] md:text-[10vw] font-black uppercase text-dark-green"
      >
        Get in touch
      </h1>
    </div>
    <div class="w-1/4 flex items-center justify-center">
      <h1
        class="text-[20vw] md:text-[10vw] font-black uppercase text-dark-green"
      >
        Get in touch
      </h1>
    </div>
  </div>

  <style>
    :root {
      --speed: 10s;
      --distance: -300vw;
    }

    @media all and (min-width: 768px) {
      :root {
        --speed: 16s;
        --distance: -150vw;
      }
    }

    @keyframes slide {
      from {
        transform: translate3d(0, 0, 0);
      }

      to {
        transform: translate3d(var(--distance), 0, 0);
      }
    }

    .ticker {
      animation: slide var(--speed) infinite linear;
    }
  </style>
</div>
