---
const { text, banner = false, addtionalClasses } = Astro.props;
---

<div class={"inline-block relative " + addtionalClasses}>
  <h1
    class="font-humane text-[7rem] leading-[0.8] font-bold uppercase text-primary"
  >
    {text}
  </h1>
  {
    banner && (
      <div class="absolute bottom-0 bg-custom-black bg-opacity-70 text-primary flex rounded-lg right-0 translate-x-1/3 translate-y-4">
        <p class="font-sans text-[8px] font-medium uppercase tracking-tighter px-2 py-1.5">
          ✨ More coming soon
        </p>
      </div>
    )
  }
</div>

<style>
  /* .capsizedText {
    font-size: 200px;
    line-height: 140px;
  }

  .capsizedText::before {
    content: "";
    margin-bottom: 0.065em;
    display: table;
  }

  .capsizedText::after {
    content: "";
    margin-top: -0.065em;
    display: table;
  } */
</style>
